{% from "macros/Article.njk" import Article %}

<div class="articles">
	{% for post in collections.post | reverse | limit(3) %}
		{% if not post.data.unpublished %}
			{{ Article(post) }}
		{% endif %}
	{% endfor %}
</div>
