<!DOCTYPE html>

{% from "macros/SiteHeader.njk" import SiteHeader %}

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/src/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/src/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/src/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/src/assets/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="/src/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- GOOGLE FONTS -->
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;500;600;700;800&family=Assistant:wght@100;200;400;700;800&display=swap"
	/>

	<!-- CSS -->
	<link rel="stylesheet" href="/src/assets/css/style.css" />

	<title>{{ title }} | {{ metadata.name }}</title>
	<meta name="description" content="{{ description }}" />
</head>
<body>
	{{ content | safe }}

	<footer>
		{{ SiteHeader({ footer: true }) }}
	</footer>

	{% block script %}{% endblock %}

	<script defer src="/src/assets/js/mobile-nav.js"></script>

	<!-- Google Analytics - Global site tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140416219-1"></script>
	<script>
		const host = window.location.host;
		if (host === "barryph.com" || host === "www.barryph.com") {
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-140416219-1');
		}
	</script>
</body>
</html>
