---
layout: layouts/master.njk
title: {{ title }}
description: {{ description }}
---

{% from "macros/SiteHeader.njk" import SiteHeader %}

<link rel="stylesheet" href="/src/assets/css/post.css" />

<!-- Libs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-okaidia.min.css" />


{{ SiteHeader() }}

{% if not unpublished %}
	<main>
		{% if article.data.heroImage %}
			<div class="hero-image article__image">
				<div class="aspect-ratio-box" href="${project.url}">
					<div class="aspect-ratio-box__inner" style="background-image: url('/src/assets/img/responsive/blog/{{ heroImage }}.webp'); {{ heroStyles }}">
					</div>
				</div>
			</div>
		{% endif %}
		<div class="block--md">
			<section class="">
				<div class="block--sm container--md">
					<h1 class="hero-headline">{{ title }}</h1>
					<h4 class="hero-subheadline Subheadline">{{ description }}</h4>
					<div class="hero-meta list--flat">
						<div class="hero__tags list__item">
							{% for category in categories %}
								<span>{{category}}</span>
								<span class="divider"></span>
							{% endfor %}
						</div>
						<div class="list__item">{{ date | articleDate }}</div>
					</div>
				</div>
			</section>

			<div class="container--md block--sm post__wrapper">
				<div class="post-body">{{ content | safe }}</div>
			</div>
		</div>
	</main>
{% endif %}

{% block script %}
<script src="/src/assets/js/vh-fix.js"></script>
{% endblock %}
