---
layout: layouts/master.njk
---

{% from "macros/SiteHeader.njk" import SiteHeader %}

<link rel="stylesheet" href="/src/assets/css/project.css" />

{{ SiteHeader() }}

<main class="project">
	<section class="section-rule">
		<div class="container--lg block--md project__header">
			<h1 class="projects__headline Headline">{{ title }}</h1>

			<div class="project__text">{{ description }}</div>

			{% if responsibility or tools.length %}
				<hr class="block--xsm hr--light project__header-rule" />
			{% endif %}

			{% if responsibility %}
				<div class="block--2xsm project__row">
					<h4 class="project__row-header">My Responsibilities</h4>
					<div class="project__responsibility">
						{{ responsibility }}
					</div>
				</div>
			{% endif %}

			{% if tools.length %}
				<div class="block--2xsm project__tools project__row">
					<h4 class="project__row-header">Technology Stack</h4>
					<ul class="list--flat">
						{% for tool in tools %}
							<li>{{ tool }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>

		<div class="container--lg">
			<div class="project__meta">
				<div class="project__details">
					<div class="list--flat">
						<ul class="project__categories list__item">
							{% for category in categories %}
								<li>{{ category }}</li>
							{% endfor %}
						</ul>
						<div class="divider divider--no-margin list__item"></div>
						<div class="list__item">{{ date | year}}</div>
					</div>
				</div>
				{% if link %}
					<a class="project__link link" href="{{ link }}" target="_blank">View Site <span class="icon--right">➤</span></a>
				{% endif %}
			</div>
		</div>
	</section>

	<section class="block__container bg--alt section-rule">
		<div class="container--lg block--sm">
			<img
				src="/src/assets/img/responsive/projects/{{ title | lower }}_1400.webp"
				srcset="/src/assets/img/responsive/projects/{{ title | lower }}_480.webp 480w, /src/assets/img/responsive/projects/{{ title | lower }}_960.webp 960w, /src/assets/img/responsive/projects/{{ title | lower }}_1400.webp 1400w"
				sizes="(max-width: 959px) 480px, (max-width: 1399px) 960px, 1400px"
				alt="{{ title }}"
      >
		</div>
	</section>

	<section class="block__container">
		<div class="container--lg block--md">
			<div class="block--sm">
				{{ content | safe }}
			</div>
		</div>
	</section>
</main>
