.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__image-wrapper {
	width: 300px;
	flex-shrink: 0;
	margin-right: 6rem;
}

.about img {
	display: block;
	box-shadow:
		0 2.4px 6.7px rgba(0, 0, 0, 0.037),
		0 6px 17px rgba(0, 0, 0, 0.053),
		0 12.2px 34.7px rgba(0, 0, 0, 0.067),
		0 25.2px 71.5px rgba(0, 0, 0, 0.083),
		0 69px 196px rgba(0, 0, 0, 0.12)
	;
	border-radius: 100%;
}

.about__header {
	font-size: var(--header-size-lg);
	margin-bottom: 0.5em;
}

.about__header span {
	font-weight: 100;
}

.about__link {
	margin-top: 1.2rem;
}

.about strong {
	font-weight: 600;
}

@media (max-width: 600px) {
	.about {
		flex-direction: column;
	}

	.about__header {
		text-align: center;
	}

	.about__image-wrapper {
		margin: auto;
		margin-bottom: 2rem;
		max-width: 280px;
	}

	.about img {
		border-radius: 100%;
	}
}
