/*
 * ==============================
 * Hero
 * ==============================
 */

.availability {
	display: flex;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0 0 #2FBF7CCC;
		transform: scale(0.90);
	}
	60% {
		box-shadow: 0 0 0 14px #2FBF7C00;
		transform: scale(1)
	}
	to {
		box-shadow: 0 0 0 0px #2FBF7C00;
		transform: scale(0.90);
	}
}

.tick-circle {
	--circle-height: 1.5rem;
	flex-shrink: 0;
	margin-top: 0.3rem;
	display: inline-block;
	background: var(--color-green);
	border-radius: 100%;
	height: var(--circle-height);
	width: var(--circle-height);
	margin-right: 0.8rem;
	line-height: var(--circle-height);
	font-size: var(--text-size-sm);
	text-align: center;
	vertical-align: middle;
	box-sizing: initial;
	color: #fff;
	animation: pulse 2s infinite;
	box-shadow: 0 0 0 0 var(--color-green-faded);
}

.tick-circle::before {
	content: '';
	background: var(--color-green-faded);
	transform: scale(1.3);
}

/*
 * ==============================
 * Status
 * ==============================
 */

.status__headline {
	font-size: var(--header-size-xlg);
}

.status__subheadline {
	font-size: var(--header-size-xsm);
}

/*
 * ==============================
 * Stats Banner
 * ==============================
 */

.stats-section {
	color: #fff;
	font-family: var(--font-header);
}

.stats-section .hero {
	background: url("/src/assets/img/responsive/misc/workstation.webp");
	background-size: cover;
	background-position: center;
}

.stats-section .hero-background {
	/* Disable matrix transform, leaves an uncovered gap bar at the bottom */
	transform: unset;
}

.stats-section .banner__wrapper {
	width: 100%;
}

.stats-section .banner__item-list {
	max-width: var(--container-lg);
	margin: auto;
}

/*
 * ==============================
 * Skills & Tools
 * ==============================
 */

.skills__headline {
	font-size: var(--header-size-rg);
}

.skill {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.6rem;
}

.skill__headline {
	font-size: var(--header-size-sm);
	margin-bottom: 0.3rem;
}

.skill__header p {
	margin-bottom: 1rem;
	font-size: var(--text-size-std);
}

.skill img {
	max-width: 55px;
	margin-right: 0.4rem;
	vertical-align: middle;
	width: 100%;
}

.skill__description {
	width: 60%;
	font-size: var(--text-size-std);
}

.skill__description p {
	margin-bottom: 0.5rem;
}

.skill__category {
	opacity: 0.3;
	font-style: italic;
}

.skill__category hr {
	width: 35px;
	display: inline-block;
	border-width: 1px;
	margin-right: 1.2rem;
	vertical-align: middle;
}

@media (max-width: 600px) {
	.skill {
		flex-direction: column;
	}

	.skill__header {
		margin-bottom: 1rem;
	}

	.skill__description {
		width: 100%;
	}

	.section-view-work {
		text-align: right;
	}
}

/*
 * ==============================
 * FIND MORE
 * ==============================
 */
.find-more__wrapper {
	background: var(--color-blue-faint);
}

.find-more__headline {
	font-size: var(--header-size-rg);
	margin-bottom: 0.3em;
}

.find-more__subheadline {
	font-size: var(--text-size-xlg);
}

.find-more {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.find-more svg {
	height: 175px;
	width: auto;
}
