.articles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3.3rem 2rem;
}

.article__snippet {
	font-family: var(--font-header);
	font-weight: 600;
	color: #f9690e;
}

.article__image {
	display: block;
	margin-bottom: 1.0rem;
	border: 1px solid var(--color-border-grey);
	background: #fff;
}

.article__meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.50rem;
	margin-bottom: 0.50rem;
}

.article__headline {
	font-size: var(--header-size-sm);
	font-weight: 700;
	margin-bottom: 0.8rem;
}

.article__description {
	font-size: var(--text-size-std);
}

@media (max-width: 600px) {
	.articles {
		grid-template-columns: 1fr;
	}
}
