.banner__item-list {
	display: flex;
	justify-content: space-between;
}

.banner__item {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner__text {
	--ghost-offset-x: 2.7rem;
	position: relative;
	/** Visually centers elements */
	margin-left: calc(var(--ghost-offset-x) / 2);
}

.banner__text::after {
	content: '';
	border-bottom: 2px solid #fff;
	width: 50px;
	position: absolute;
	bottom: -1.5rem;
	left: 0;
}

.banner__value {
	position: absolute;
	left: calc(var(--ghost-offset-x) * -1);
	top: -3.2rem;
	font-size: 5.5rem;
	line-height: 1;
	opacity: 0.4;
	font-weight: 200;
}

.banner__text {
	font-size: var(--header-size-sm);
	font-weight: 800;
	white-space: pre-line;
	line-height: 1.2;
}

@media (max-width: 600px) {
	.banner__item-list {
		display: block;
	}

	.banner__item {
		display: block;
	}

	.banner__text {
		margin-left: 50%;
	}

	.banner__text::after {
		display: none;
	}

	.banner__value {
		top: -1rem;
		left: -9rem;
	}
}
