/*
 * ==============================
 * Hero
 * ==============================
 */

.hero {
	color: #fff;
	background: url("/src/assets/img/responsive/misc/arnold-francisca.webp");
	background-size: cover;
	background-position: center;
}

.hero-background {
	background: linear-gradient(147deg, #141324BA 0%, #1D3146 100%) 0% 0%;
}

.hero-meta {
	font-size: var(--text-size-sm);
	font-weight: 600;
	margin-bottom: 2rem;
}

.hero-headline {
	font-size: var(--header-size-lg);
	margin-bottom: 0.25em;
}

.hero-subheadline {
	font-weight: 500;
	margin-bottom: 2.4rem;
	font-size: var(--text-size-lg);
}

.hero-link {
	color: #fff;
	font-weight: 700;
}

/*
 * ==============================
 * Categories
 * ==============================
 */

.blog__container {
}

.categories-nav {
	font-size: var(--text-size-std);
	font-family: var(--font);
}

.categories__header {
	font-size: var(--text-size-rg);
	margin-bottom: 0;
	display: inline-block;
	font-weight: 700;
	color: var(--color-background-light);
	margin-right: 2rem;
}

.categories__list {
	display: inline-block;
}

.categories-nav a {
	display: block;
	border-bottom: 2px solid var(--color-border-grey);
	padding-bottom: 0.9rem;
}

.categories-nav a.active {
	font-weight: bold;
	border-color: currentColor;
}
