.contact {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}

.contact__form {
	width: 48.5%;
}

.contact__body {
	width: 42%;
}

.contact-hr {
	//position: absolute;
	//top: 0;
	//transform: translateY(-4rem);
	margin-bottom: 4rem;
	border-color: var(--font-color);
}

.contact__headline {
	font-size: var(--header-size-lg);
	color: var(--font-color);
}

.contact__body p {
	font-size: var(--text-size-lg);
	margin-bottom: 4.7rem;
}

.contact__svg {
	width: 90%;
}

.contact__form label {
	font-family: var(--font-header);
	font-weight: 700;
	margin-bottom: 0;
	display: block;
}

.contact__form button {
	margin-top: 2rem;
}

@media (max-width: 600px) {
	.contact {
		flex-direction: column;
	}

	.contact__body,
	.contact__form {
		width: 100%;
	}

	.contact__body p,
	.contact__svg {
		margin-bottom: 3rem;
	}

	.contact-hr {
		margin-bottom: 2rem;
	}
}
