/*
 * ==============================
 * Site Header
 *
 * Over-ride styles in style.css
 * ==============================
 */


.site-header {
	--animation-duration: 150ms;

	opacity: 0;
	transition: opacity var(--animation-duration) ease;
}

.site-header.open {
	opacity: 1;
}

.hero__wrapper .site-header.open > .logo path {
	stroke:var(--text-color);
}

.hero__wrapper .site-header.open .logo__text,
.hero__wrapper .site-header.open .button--highlight {
	color: var(--text-color);
}

.hero__wrapper .site-header {
	opacity: 1;
}

main {
	margin-top: 0;
}

.hero__wrapper .site-header {
	position: absolute;
	z-index: 110;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	border-color: transparent;
	font-weight: 800;
}

.hero__wrapper .site-header > .logo path {
	stroke: #ffffff;
}

.hero__wrapper .site-header .logo__text,
.hero__wrapper .site-header .button--highlight {
	color: #fff;
}

.hero__wrapper .site-header .hamburger-icon span {
	background: #fff
}
.hero__wrapper .site-header .hamburger-icon.open span {
	background: var(--font-color);
}


/*
 * ==============================
 * Hero
 * ==============================
 */

.hero {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	max-height: 860px;
	color: #fff;
	background: url("/src/assets/img/responsive/misc/arian-darvishi.webp");
	background-size: cover;
	background-position: center;
}

.hero-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.hero-body {
	--meta-name-offset: 3rem;
	margin-bottom: calc(var(--meta-name-offset) * -1);
}

@media (max-width: 1700px) {
	.hero-container {
		top: 2rem;
	}
}

.hero-image {
	text-align: center;
	margin-left: 3rem;
	max-width: 45%;
}

.hero-image svg {
	width: 400px;
}

.hero-headline-title {
	font-family: var(--font);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
	opacity: 0.6;
}

.hero-headline-title span {
	letter-spacing: 1.4px;
	font-weight: 500;
}

.hero-headline {
	font-size: var(--header-size-xlg);
	font-weight: 800;
	text-transform: capitalize;
	// text-shadow: 1px 4px 0px #00000019;
}

.hero-subheadline {
	font-weight: 400;
	font-family: var(--font);
	font-size: var(--text-size-xlg);
	margin-bottom: var(--meta-name-offset);
}

.hero-button {
	display: block;
	margin-bottom: var(--meta-name-offset);
}

.hero-button button {
	border-width: 2px;
	text-transform: uppercase;
	font-weight: 800;
	font-family: var(--font-header);
	font-size: var(--text-size-lg);
}

@media (max-width: 600px) {
	.hero-headline {
		font-size: 3rem;
	}
}

/*
 * ==============================
 * Projects
 * ==============================
 */

.projects__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects__headline {
	font-size: var(--header-size-xlg);
	margin-bottom: 0.4em;
	line-height: 1;
}

.projects__header .link {
	font-family: var(--font);
	font-weight: 600;
	font-style: italic;
}

@media (max-width: 600px) {
	/* Only show the first three projects */
	.projects-list .project__wrapper:nth-child(n + 4) {
		display: none;
	}
}

/*
 * ==============================
 * Articles
 * ==============================
 */

.articles__headline {
	font-size: var(--header-size-lg);
}
