/*
 * ==============================
 * Hero
 * ==============================
 */

.hero-image .aspect-ratio-box::before {
	padding-top: 400px;
}

@media (max-width: 1200px) {
	.hero-image .aspect-ratio-box::before {
		padding-top: 20vh;
	}

	:root {
		--block-sm: var(--block-xsm);
	}
}


.hero-body {
	display: flex;
	flex-direction: column;
}

.hero-headline {
	font-size: var(--header-size-lg);
	margin-bottom: 1.1rem;
	text-transform: initial;
}

.hero-subheadline {
	margin-bottom: 1.000rem;
	font-size: var(--text-size-lg);
	font-weight: 500;
	display: none;
}

.hero-meta {
	font-size: var(--text-size-sm);
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.hero-meta {
		flex-direction: column;
	}
}


/*
 * ==============================
 * Post
 * ==============================
 */

.post__wrapper {
	/* Hide over flow from using 100vw */
	overflow: hidden;
}

.post-body {
	--font: "Open Sans";
	font-family: "Open Sans";
}

.post-body {
	/* Major Second (1.125) type scale */
	--header-size-rg: 2.488rem;
	--header-size-sm: 1.728rem;
	--header-size-xsm: 1.2rem;

	--p-margin-x: 0.8em;
}

.post-body > *:first-child {
	margin-top: 0;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5 {
	margin-top: 2.95em;
	margin-bottom: 1em;
	font-family: inherit;
}

.post-body a {
	color: #2543D5;
}

.post-body ul {
	padding-left: 2.2rem;
	margin-top: calc(var(--p-margin-x) / 2);
}

.post-body ul li {
	list-style-type: initial;
}

.post-body p {
	margin-top: var(--p-margin-x);
}

.post-body hr {
	margin: 4.5rem 0;
	border: 0;
	border-bottom: 1px solid var(--color-text-grey);
}

.post-body pre[class*="language"] {
	font-size: var(--text-size-std);
	margin: 1.3rem 0 3rem 0;
}

.post-body code[class*="language"] {
	font-size: var(--text-size-std);
}
