.projects__headline {
	text-transform: capitalize;
	margin-bottom: 1.1rem;
	font-size: var(--header-size-lg);
}

.project__text {
	font-size: var(--header-size-xsm);
	line-height: 1.6;
	margin-bottom: 1.3rem;
}

.project__meta {
	margin-bottom: 0.8rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	font-size: var(--text-size-std);
	font-weight: 700;
}

.project__details {
	font-size: var(--text-size-sm);
}

.project__categories {
	text-transform: capitalize;
}

.project__link {
	display: block;
	font-weight: 700;
}

.project img {
	display: block;
	box-shadow:
		2px 15px 28px #d2d2d4,
		-2px -5px 20px #d2d2d466;
}

@media (max-width: 600px) {
	.project__text {
		text-align: left;
	}
}

.project__row {
	display: flex;
}
.project__row-header {
	min-width: 275px;
	flex-shrink: 0;
}

@media (max-width: 600px) {
	.project__row {
		flex-direction: column;
	}
}

.project__tools li {
	color: var(--color-text-light);
	//font-weight: 600;
	//border-bottom: 1px solid var(--color-text-grey);
	padding-bottom: 0.1rem;
}
