/*
 * ==============================
 * Hero
 * ==============================
 */

.hero {
	color: #fff;
	background: url("/src/assets/img/responsive/misc/arian-darvishi.webp");
	background-size: cover;
	background-position: center;
}

.hero-headline {
	font-size: var(--header-size-lg);
	margin-bottom: 0.7rem;
	font-weight: 800;
	text-transform: uppercase;
}

.hero-headline,
.hero hr {
	margin-bottom: 0.4rem;
	border-bottom-width: 2px;
}

.hero-container {
	text-align: left;
}

.hero-body {
	width: 100%;
}

.hero-subheadline {
	font-size: var(--header-size-xsm);
	text-transform: capitalize;
	margin-bottom: 0;
}

.hero hr {
	border-color: #fff;
	width: 45px;
}


/*
 * ==============================
 * Filter buttons
 * ==============================
 */

.filters {
	border-width: 1px;
}

.filters button {
	margin-right: 0;
	display: inline-block;
	padding: 1.3rem 1.6rem 0.8rem;
	color: var(--color-text-light);
	border: 0;
	border-bottom: 2px solid #49618e8d;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-family: var(--font-header);
}

.filters button.active {
	color: var(--color-blue-friendly);
	border-color: var(--color-blue-friendly);
}

.filter-select {
	--icon-width: 20px;
	--padding-x: 2.5rem;
	position: relative;
	display: block;
	min-width: 180px;
	margin: 0 auto;
	background: var(--color-grey-light);
	z-index: 10;
}

select {
	border: none;
	outline: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	margin: 0;
	display: block;
	width: 100%;
	padding: 12px calc(var(--padding-x) + var(--icon-width)) 12px var(--padding-x);
	font-weight: 800;
	font-family: var(--font-header);
}

.filter-select:after {
	position: absolute;
	right: var(--padding-x);
	top: 0;
	width: var(--icon-width);
	height: 100%;
	line-height: 38px;
	content: '';
	background: url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat;
	background-position: center;
	text-align: center;
	font-size: 24px;
	z-index: -1;
}
