/**
 * "gridless" styles are for isotope compatibility on the projects page
 */
.projects-list:not(.projects-list--gridless) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3.3rem 2rem;
}

.projects-list--gridless {
	--pad-x: 1.2rem;
	--pad-y: 1.8rem;
	margin: calc(-1 * var(--pad-y)) calc(-1 * var(--pad-x));
	min-height: 75vh;
}
.projects-list--gridless .project__wrapper {
	padding: var(--pad-y) var(--pad-x);
	width: 33%;
	display: inline-block;
}

.project__wrapper {
	position: relative;
	/**
	 * Apply z-index higher than any children so each project overlap eachother as a whole
	 * Overlapping occurs during isotope animations
	 */
	z-index: 10;
}

.project {
	display: block;
	box-shadow: 20px 20px 30px #d5d5d6, -20px -20px 20px #b7b7b740;
	box-shadow: 15px 12px 20px #d5d5d688, -12px -15px 15px #b7b7b740;
	border: 1px solid var(--color-border-grey);
	background: #fff;
	overflow: hidden;
}

a.project:hover {
	opacity: 1;
	transform: translateY(-1rem);
}
.project,
.project__image-wrapper,
.project__image {
	transition: all 0.15s ease-in-out;
}
a.project:hover .project__image-wrapper {
	filter: brightness(85%);
}
a.project:hover .project__image {
	/*
	 * "background-image" is defined inline
	 * Inline because setting css variable caused glitchiness with transitions
	 */
	transform: scale(1.00);
}

.project__image_filter {
	position: absolute;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent linear-gradient(184deg, #00000000 65%, #00000041 100%) 0% 0% no-repeat padding-box;
}

.project__body {
	--padding-x: 1.4rem;
	position: relative;
	z-index: 9;
	background: #fff;
	font-size: var(--text-size-xsm);
	font-weight: 600;
}

.project__body .project__headline {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	padding: 0.5rem var(--padding-x);
	font-size: var(--text-size-lg);
	font-weight: 700;
	background: #fff;
	border: 1px solid var(--color-border-grey);
	border-left-width: 0;
	border-bottom-width: 0;
}

.project__bar {
	display: flex;
	justify-content: space-between;
	padding: 0.6rem var(--padding-x);
	border-top: 1px solid var(--color-border-grey);
}

.project__tags {
	text-transform: capitalize;
}

.project__tags span {
	vertical-align: middle;
}

.projects-list .aspect-ratio-box > .aspect-ratio-box__inner {
	background-position: top center;
}

@media (max-width: 1200px) {
	.projects-list--gridless .project__wrapper {
		width: 50%;
	}

	.projects-list:not(.projects-list--gridless) {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.projects-list:not(.projects-list--gridless) {
		grid-template-columns: 1fr;
	}

	.projects-list--gridless {
		min-height: 0;
	}

	.projects-list--gridless .project__wrapper {
		width: 100%;
	}

	.project__wrapper {
		width: 100%;
	}
}
