/*
 * ==============================
 * Hero
 * ==============================
 */

.hero {
	color: #fff;
	background: url("/src/assets/img/responsive/misc/workstation.webp");
	background-size: cover;
	background-position: center;
}

.hero-headline {
	font-size: var(--header-size-xlg);
	margin-bottom: 0.25em;
}


.hero-body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.hero-body::before,
.hero-body::after {
	--body-padding-y: -2.5rem;
	--body-padding-x: -3.3rem;

	position: absolute;
	content: '';
	height: 50px;
	width: 50px;
	border: 4px solid #fff;
}
@media (max-width: 1200px) {
	.hero-body::before,
	.hero-body::after {
		display: none;
		--body-padding-y: -1.5rem;
		--body-padding-x: -1.5rem;
		border-width: 3px;
	}
}
.hero-body::before {
	top: var(--body-padding-y);
	left: var(--body-padding-x);
	border-bottom-width: 0;
	border-right-width: 0;
}
.hero-body::after {
	bottom: var(--body-padding-y);
	right: var(--body-padding-x);
	border-top-width: 0;
	border-left-width: 0;
}

.hero-subheadline {
	font-size: var(--header-size-xsm);
	font-weight: 400;
}

@media (max-width: 600px) {
	.hero-headline {
		font-size: var(--header-size-lg);
	}
}


/*
 * ==============================
 * Services Banner
 * ==============================
 */

.services-banner-section {
	background: var(--color-off-black);
	font-family: var(--font-header);
	font-weight: 800;
	color: #fff;
}

.services-banner-section .banner__item-list {
	max-width: calc(var(--container-lg) + 150px);
	margin: auto;
}

.services-banner-section .banner__item:not(:last-child) {
	border-right: 2px solid #ffffff22;
}

@media (max-width: 1200px) {
	.services-banner-section .banner__item {
		--block-spacing: var(--block-xsm);
	}

	.services-banner-section .banner__item:not(:last-child) {
		border-right: 0;
	}

	.services-banner-section .banner__text {
		margin-left: 0;
		white-space: initial;
		text-align: center;
		font-weight: 700;
		font-size: var(--header-size-sm);
	}

	.services-banner-section .banner__value {
		display: none;
	}
}

/*
 * ==============================
 * Services Banner
 * ==============================
 */

.service {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.service__wrapper:nth-child(even) {
	background: var(--color-blue-faint);
}

.service__wrapper:nth-child(even) .service__body {
	order: 3;
}

.service__body {
	width: 50%;
	font-size: var(--text-size-std);
}

.service__ghost-headline {
	opacity: 0.23;
	text-transform: uppercase;
	font-weight: 700;
	font-size: var(--text-size-xlg);
	margin-bottom: 1rem;
}

.service__headline {
	font-size: var(--header-size-rg);
	text-transform: capitalize;
}

.service__body p {
	margin-bottom: 2rem;
}

.service__body .projects__headline {
	font-size: var(--text-size-xlg);
	margin-bottom: 0.5rem;
}

.service__image {
	margin-left: 2rem;
	max-width: 500px;
}

@media (max-width: 600px) {
	.service {
		flex-direction: column;
	}

	.service__body {
		order: 2;
		width: 100%;
	}

	.service__ghost-headline {
		display: none;
	}

	.service__image {
		order: 1;
		margin-left: 2rem;
		margin-bottom: 2rem;
	}

	.service__wrapper:nth-child(even) .service__image {
		margin-left: 0;
		margin-right: 2rem;
	}
}

/*
 * ==============================
 * The Process
 * ==============================
 */

.process__headline {
	font-size: var(--header-size-xlg);
	margin-bottom: 0.25em;
}
.process__subheadline {
	font-size: var(--header-size-xsm);
}

.step__headline {
	font-size: var(--header-size-rg);
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 0.8rem;
}

.steps__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	color: var(--color-text-light);
}

.step-title {
	opacity: 0.6;
	font-size: var(--text-size-std);
	text-transform: uppercase;
	font-weight: 500;
}

.step-title.active {
	opacity: 1;
	font-weight: 700;
	color: var(--font-color);
}

.step-divider {
	flex-grow: 1;
	height: 0;
	border: 1px solid var(--color-border-grey);
	margin: 0 2rem;
}

.step-divider:last-child {
	display: none;
}

.step__description {
	max-width: 660px;
	font-size: var(--text-size-std);
}

@media (max-width: 600px) {
	.steps__list {
		display: none;
	}
	.step-divider,
	.step-title:not(.active) {
		display: none;
	}
}
