/*
 * ==============================
 * Variables
 * ==============================
 */

:root {
	--color-primary: #FF1654;
	--color-primary-hero: var(--color-primary);
	--color-bg-hero: #16203A;
	--color-primary-bold: #1706FF;
	--color-primary-alt: #FF5555;
	--color-primary-light: #64b9ed;
	--color-secondary: #f71c4c;
	--color-background-dark: #1a1a1a;
	--color-background-light: #333232;
	--color-background-grey: #f5f5f5;
	--color-warning: #e83d3f;
	--color-grey-dark: #414141;
	--color-grey: #8a8a8a;
	--color-grey-light: #eaeaea;
	--color-grey-faint: #fafafc;
	--color-grey-alt: #F0F2F6;
	--color-grey-blue: #3758fd0f;
	--color-green: #2FBF7C;
	--color-green-faded: #9BE0C0;
	--color-off-black: #141414;
	--color-blue-friendly: #4B9FFF;
	--color-blue-dark: #0542CA;
	--color-meta-blue: #4674CE;
	--color-blue-faint: #47CFEB1A;
	--color-link: var(--color-blue-friendly);
	--color-button: #1E84FF;
	--color-rule-grey: #E9E9E9;
	--color-border-grey: #E1EBFF;
	--color-border-grey-solid: #525252;
	--color-text-grey: #D4D8F9;
	--color-text-light: #49618ebd;

	/* Fonts: "Montserrat", "Nunito Sans", "Poppins", "Josefin Sans" */
	--font: "Open Sans";
	--font-header: "Assistant";
	--font-color: #3a3a3a;
	--font-color-header: #3a3a3a;
	--font-color-light: #666;
	--line-height: 1.75;
	--line-height-header: 1.2;

	/* Major Second (1.125) type scale */
	--text-size-xlg: 1.266rem;
	--text-size-lg: 1.125rem;
	--text-size-rg: 18px;
	--text-size-std: 16px;
	--text-size-sm: 0.889rem;
	--text-size-xsm: 0.79rem;

	/* Minor Third (1.200) type scale */
	--header-size-xlg: 3.583rem;
	--header-size-lg: 2.986rem;
	--header-size-rg: 2.488rem;
	--header-size-md: 2.074rem;
	--header-size-sm: 1.728rem;
	--header-size-xsm: 1.44rem;

	--hero-padding: 2.5rem;

	--p-margin-x: 1.5em;

	--nav-height: 5rem;

	--block-2xsm: 2rem;
	--block-xsm: 2.5rem;
	--block-sm: 3.333rem;
	--block-md: 5rem;
	--block-rg: 8rem;
	--block-lg: 12rem;

	--container-sm: 400px;
	--container-md: 700px;
	--container-rg: 960px;
	--container-lg: 1200px;
	--container-xlg: 1500px;
	--container-width: var(--container-rg);
	--container-full-padding: 2rem;
	--container-full-padding--lg: 5rem;
}

@media (max-width: 600px) {
	:root {
		--header-size-lg: 2.441rem;
		--header-size-rg: 1.953rem;
		--header-size-sm: 1.563rem;
		--header-size-xsm: 1.25rem;
	}
}

/*
 * ------------------------------
 * Base Styles
 * ------------------------------
 */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
}

body {
	/* Fit footer to bottom of page */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;

	margin: 0;
	background-color: #fff;
	color: var(--font-color);
	font-family: var(--font);
	font-size: var(--text-size-rg);
	line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: 0.5em;
	line-height: var(--line-height-header);
	font-family: var(--font-header);
	color: var(--font-color-header);
	font-weight: 800;
}

.header-white h1,
.header-white h2,
.header-white h3,
.header-white h4,
.header-white h5 {
	color: #fff;
}

h1 {
	font-size: var(--header-size-lg);
}

h2 {
	font-size: var(--header-size-rg);
}

h3 {
	font-size: var(--header-size-sm);
}

h4 {
	font-size: var(--header-size-xsm);
}

h5 {
	font-size: 1em;
}

header {
	font-family: var(--font-header);
}

small,
.font-small {
	font-size: var(--text-size-xsm);
}

.text-meta {
	color: var(--color-meta-blue);
	font-size: var(--text-size-sm);
	font-family: var(--font-header);
	font-weight: bold;
	opacity: 0.6;
}

.text-underline {
	position: relative;
	font-weight: bold;
}
.text-underline::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.4rem;
	border-bottom: 2px solid currentColor;
	width: 100%;
}

.text-underline--lg {
	font-weight: 400;
	text-transform: uppercase;
}

.text-underline--lg::after {
	bottom: -0.8rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.link {
	color: var(--color-link);
}

a, button, .hover--darken {
	transition: all 0.15s ease-out;
	transition-property: opacity, filter, transform, box-shadow;
}

a:not(.hover--darken):hover,
button:not(.hover--darken):hover {
	opacity: 0.7;
}

.hover--darken:hover {
	filter: brightness(0.7);
}

/* Having a default transform: translateY stops glitchy resize during animation */
a.animate-hover,
button.animate-hover {
	transform: translateY(0px);
}

a.animate-hover:hover,
button.animate-hover:hover {
	opacity: 1;
	transform: translateY(-4px);
	box-shadow: 4px 5px 20px 3px var(--color-border-grey);
}

p {
	margin: 0;
}

p + p {
	margin-top: var(--p-margin-x);
}

hr {
	margin-left: 0;
	border: 0;
	border-bottom: 2px solid var(--font-color);
}

.hr--light {
	border-bottom: 2px solid var(--color-border-grey);
}

.hr--short {
	width: 55px;
}

img {
	max-width: 100%;
}

a,
button {
	font-weight: inherit;
	cursor: pointer;
	font-family: inherit;
}

button {
	border: 2px solid var(--color-border-grey);
	background: transparent;
	font-size: var(--text-size-rg);
	text-transform: inherit;
	padding: 0.6rem 2.8rem;
	border-radius: 3px;
	font-weight: 800;
	font-family: var(--font-header);
}

.button--shadow {
	box-shadow: 4px 5px 0px var(--color-border-grey);
}

.button--outline {
	border: 1px solid currentColor;
	border-radius: 0;
	background: transparent;
	color: inherit;
}

.button--solid {
	font-weight: 800;
	border-color: transparent;
	background-color: var(--color-button);
	color: #fff;
}

.button--solid-inverted {
	color: #1750f3;
	background: #fff;
	border-color: #fff;
	border-radius: 0;
}

.button--wide {
	min-width: 250px;
}

.button--lg {
	padding-left: 4.5rem;
	padding-right: 4.5rem;
}

.button--full {
	width: 100%;
}

.button--highlight {
	color: var(--color-button);
}

button {
	position: relative;
}
.button__icon {
	position: absolute;
	right: 1.5rem;
	font-size: var(--text-size-xlg);
}

.icon--right {
	margin-left: 0.2rem;
}

.divider {
	margin: 0 0.5rem;
}
.divider--no-margin {
	margin: 0;
}
.divider::before {
	/** Off set slight misalignment in font */
	position: relative;
	bottom: 0.05em;

	font-size: var(--header-size-sm);
	content: '\00B7';
	vertical-align: middle;
	line-height: 1rem;
}
.divider:last-child {
	display: none;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.list--flat .list__item,
.list--flat li {
	display: inline-block;
}

.list--flat .list__item:not(:last-child),
.list--flat li:not(:last-child) {
	margin-right: 1rem;
}

::placeholder {
	color: var(--color-grey);
}

label sup {
	margin-left: 0.3rem;
}

input:not([type="file"]),
textarea {
	border: 0;
}

input:not([type="file"]),
textarea {
	padding: 0.4rem 0.8rem;
	font-family: inherit;
	font-size: inherit;
}

input:not([type="file"]),
select,
textarea {
	display: block;
	width: 100%;
	margin-bottom: 1.2rem;
	border: 0;
	border: 2px solid var(--color-rule-grey);
	background-color: #fdfdfd;
	color: inherit;
	line-height: inherit;
	text-align: inherit;
	font-size: var(--text-size-std);
}

/*
 * ------------------------------
 * Blocks
 *
 * Adds vertical spacing around elements
 * Uses margin so spacing between two sibiling blocks overlap instead of doubling up
 * ------------------------------
 */

/*
 * This class is not required when using a block class
 * Stops the margin of a block to extend beyond it's parent element
 * E.g. When applying a background color to the parent/container element
 *
 * Markup:
 * <element class='block__container'>
 *   <element class='block'></element>
 *   <element class='block'></element>
 * </element>
 */
.block__container {
	overflow: auto;
}

.section-rule {
	border-bottom: 2px solid var(--color-border-grey);
}

.block,
.block--2xsm,
.block--xsm,
.block--sm,
.block--md,
.block--lg {
	margin-top: var(--block-spacing);
	margin-bottom: var(--block-spacing);
}

.block {
	--block-spacing: var(--block-rg);
}

.block--2xsm {
	--block-spacing: var(--block-2xsm);
}

.block--xsm {
	--block-spacing: var(--block-xsm);
}

.block--sm {
	--block-spacing: var(--block-sm);
}

.block--md {
	--block-spacing: var(--block-md);
}

.block--lg {
	--block-spacing: var(--block-lg);
}

@media (max-width: 1500px) {
	.block--lg {
		--block-spacing: var(--block-rg);
	}
}

@media (max-width: 1060px) {
	.block,
	.block--lg {
		--block-spacing: var(--block-md);
	}
}

@media (max-width: 800px) {
	.block--md,
	.block,
	.block--lg {
		--block-spacing: var(--block-sm);
	}
}

/*
 * ------------------------------
 * Container
 *
 * Adds horizonal spacing to effectively set max with of elements
 * Uses padding instead of max width plus centering so backgrounds span over the spacing
 * ------------------------------
 */

.container,
.container--sm,
.container--md,
.container--lg,
.container--xlg {
	padding-left: calc(50% - (var(--container-width) / 2));
	padding-right: calc(50% - (var(--container-width) / 2));
}

.container {
	--container-width: var(--container-rg);
}

.container--sm {
	--container-width: var(--container-sm);
}

.container--md {
	--container-width: var(--container-md);
}

.container--lg {
	--container-width: var(--container-lg);
}

.container--xlg {
	--container-width: var(--container-xlg);
}

.container--full {
	padding-left: var(--container-full-padding--lg);
	padding-right: var(--container-full-padding--lg);
}

@media (max-width: 1280px) {
	.container--full {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 1580px) {
	.container--xlg {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 1280px) {
	.container--lg {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 1040px) {
	.container {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 780px) {
	.container--md {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 500px) {
	.container--full,
	.container--sm,
	.container--md,
	.container,
	.container--lg,
	.container--xlg {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 500px) {
	.block--collapse {
		--block-spacing: 0;
	}
}

/*
 * ------------------------------
 * Base Classes
 * ------------------------------
 */

.bg--alt {
	background: var(--color-grey-faint);
}

.inline-block {
	display: inline-block;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

@media (min-width: 601px) {
	/** Mobile break point = 600px **/
	.mobile-only {
		display: none;
	}
}

@media (max-width: 600px) {
	.desktop-only {
		display: none;
	}
}

.aspect-ratio-box {
  position: relative;
	display: block;
}

.aspect-ratio-box:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: (1009 / 983) * 100%;
	padding-top: calc(100% / (16 / 9));
}

.aspect-ratio-box > .aspect-ratio-box__inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	flex-grow: 1;
	width: 100%;
}


/*
 * ==============================
 * Site Header
 * ==============================
 */

/**
 * Animated hamburger icon
 * From: https://codepen.io/designcouch/pen/Atyop
 **/
.hamburger-icon {
	--slice-size: 3px;
  width: calc(var(--slice-size) * 7);
  height: calc(var(--slice-size) * 7);
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  position: absolute;
  height: var(--slice-size);
  width: 100%;
  background: var(--font-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
}

.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: calc(var(--slice-size) * 2.5);
}

.hamburger-icon span:nth-child(4) {
  top: calc(var(--slice-size) * 5);
}

.hamburger-icon.open span:nth-child(1) {
  top: calc(var(--slice-size) * 2.5);
  width: 0%;
  left: 50%;
}

.hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger-icon.open span:nth-child(4) {
  top: calc(var(--slice-size) * 2.5);
  width: 0%;
  left: 50%;
}


main {
	margin-top: var(--nav-height);
}

.site-header {
	position: fixed;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	width: 100%;
	height: var(--nav-height);
	text-transform: uppercase;
	font-family: var(--font-header);
	font-weight: 700;
	/* TODO: replace with transparent white value */
	border-bottom: 1px solid var(--color-border-grey);
}

.site-header--transparent {
	background: transparent;
}

.site-header .hamburger-icon {
	position: relative;
	z-index: 25;
}

.site-header .logo {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.site-header .logo__text {
	margin-bottom: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: var(--font);
}

.site-header > .logo > svg,
.site-header > .logo > img {
	height: 1.8rem;
	margin-right: 1rem;
}

.site-header .logo path {
	stroke: var(--color-blue-friendly);
}


.desktop-nav a {
	transition:
		color 0.15s,
		opacity 0.15s;
	position: relative;
	--padding-x: 1.2rem;
	padding: 0.6rem var(--padding-x);
}

.site-header a.active {
	position: relative;
}

.link--active-underline::after {
	content: '';
	position: absolute;
	left: var(--padding-x);
	bottom: 0;
	display: block;
	width: 0;
	border-bottom: 2px solid #fff;
	transition: width 0.12s;
}

.link--active-underline.active::after {
	width: 25px;
}

.link--active-underline:hover::after {
	width: calc(100% - (var(--padding-x) * 2));
}

.mobile-nav {
	/* Keep this value in MS, js uses this value to handle animations */
	--animation-duration: 150ms;

	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
	background: #fff;
	padding: 15% 3rem;
	transition: opacity var(--animation-duration);
	opacity: 1;
	font-size: var(--header-size-rg);
	color: var(--font-color);
	margin-top: -1rem;
}

.mobile-nav .logo > svg,
.mobile-nav .logo > img {
	height: 4rem;
	margin-bottom: 1rem;
}

.mobile-nav a {
	padding: 0rem 0;
	text-transform: capitalize;
	font-weight: 700;
}


.mobile-nav:not(.hidden) {
	display: flex;
}
.mobile-nav:not(.open) {
	opacity: 0;
}

/*
 * ==============================
 * Hero
 * ==============================
 */

.hero {
	position: relative;
	z-index: 2;
	width: 100%;
}

.hero-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.91;
	background: linear-gradient(147deg, #1706FF 0%, #007FFF 100%) 0% 0%;
	transform: matrix(-1, 0, 0, -1, 0, 0);
}

.hero-container {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	animation-name: fadeIn;
	animation-duration: 700ms;
	animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.hero-headline {
	text-transform: capitalize;
}

@media (max-width: 600px) {
	/* Fixed background changes size when browser header scrolls off-screen on mobile */
	.hero-background {
		background-attachment: scroll;
	}

	.hero-container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}


/*
 * ==============================
 * Footer
 * ==============================
 */

footer {
	--footer-padding: 0.7rem;
	border-top: 2px solid var(--color-border-grey);
}
