{% macro About(showImage = true) %}
	<div class="about">
		{% if showImage %}
			<div class="about__image-wrapper"><div class="dot-grid about__dots"></div><img src="/src/assets/img/headshot.jpg" alt="Headshot of Barry Hood"></div>
		{% endif %}
		<div class="about__body">
			<h2 class="about__header">Hi, I'm Barry Hood<br><span>Website Developer</span></h2>
			<p>I create websites with the aim of helping others increase their effectiveness. From custom SPA web-applications to online stores, each designed to be intuitive.</p>
			<p class="about__link"><strong>4+ Years experience creating websites <a class="link" href="/about">with a skill set for single-page applications &rarr;</a></strong></p>
		</div>
	</div>
{% endmacro %}
