{% macro Article(article = {}) %}
	<a href="/blog/{{ article.fileSlug }}" class="article hover--darken">
		{% if article.data.snippet %}
			<div class="article__snippet">Snippet</div>
		{% endif %}
		{% if article.data.heroImage %}
			<div class="article__image">
				<div class="aspect-ratio-box" href="${project.url}">
					<div class="aspect-ratio-box__inner" style="background-image: url('/src/assets/img/responsive/blog/{{ article.data.heroImage }}_thumbnail.webp'); {{ article.data.heroStyles }}">
					</div>
				</div>
			</div>
		{% endif %}

		<h4 class="article__headline">{{ article.data.title }}</h4>
		<p class="article__description">{{ article.data.description }}</p>

		<div class="article__meta text-meta">
			<div class="article__tags">
				{% for category in article.data.categories %}
					<span>{{category}}</span>
					<span class="divider"></span>
				{% endfor %}
			</div>
			<div>{{ article.data.date | year }}</div>
		</div>
	</a>
{% endmacro %}
