{% macro Banner(items) %}
	<div class="banner__item-list">
		{% for item in items %}
			{% if item.href %}
				<a href="#{{ item.href }}">
			{% endif %}
				<div class="banner__item block--md">
					<div class="banner__text"><div class="banner__value">{{ item.value }}</div>{{ item.text }}</div>
				</div>
			{% if item.href %}
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}
