<!--
	@params {string} label
	@params {object} options
	@params {string} options.class - append classes to button
	@params {boolean} options.noIcon - don't show icon
-->
{% macro Button(label = '', options = {}) %}
	<button class="button button--shadow {{ options.class }}">
		{{ label }}
		{% if not options.noIcon %}
			<span class="icon button__icon">&rarr;</span>
		{% endif %}
	</button>
{% endmacro %}
