{% from "macros/Button.njk" import Button %}

{% macro Contact(options = {}) %}
	{% if not options.noRule %}
		<hr class="contact-hr hr--short" />
	{% endif %}

	<div class="contact">
		<div class="contact__body">
			<h2 class="contact__headline">Let's create something together!</h2>
			<p>Interested in working together, or just have a question? Fill out the form to get in touch and I'll respond ASAP. I'm always on the lookout for interesting projects.</p>
			<div class="contact__svg">
				{% include "svg/contact.njk" %}
			</div>
		</div>
		<div class="contact__form">
			<form method="POST" netlify netlify-honeypot="bot-field" name="contact">
				<p class="hidden">
					<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
				</p>
				<label for="contact-name">Full Name</label>
				<input id="contact-name" name="name" placeholder="John Doe" required>
				<label for="contact-email">Email</label>
				<input id="contact-email" name="email" placeholder="john@gmail.com" type="email" required>
				<label for="contact-subject">Subject <sup class="text--meta">(optional)</sup></label>
				<input id="contact-subject" name="subject" placeholder="Got a few questions">
				<label for="contact-message">Message</label>
				<textarea id="contact-message" name="message" placeholder="Hey..." rows="6" required></textarea>
				{{ Button('Send Message', { class: 'button--solid button--full' }) }}
			</form>
		</div>
	</div>
{% endmacro %}
