{% macro DesktopOnlyImage(url) %}
	<picture>
		<source media="(min-width: 601px)" srcset="{{ url }}" />
		<source media="(max-width: 600px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==" sizes="100%" />
		<img src="{{ url }}" alt="{{ alt }}" />
	</picture>
{% endmacro %}
