{% from "macros/Project.njk" import Project %}

{% macro ProjectsList(projects, options = {}) %}
	<div class="projects-list {% if options.gridless %}projects-list--gridless{% endif %}">
		{% for project in projects | reverse | limit(options.limit) %}
			{{ Project(project) }}
		{% endfor %}
	</div>
{% endmacro %}
