{% macro Project(project = {}) %}
	<div class="project__wrapper {% for category in project.data.categories %}{{ category }} {% endfor %}">
		<a class="project" href="{{ project.url }}">
			<div class="aspect-ratio-box project__image-wrapper">
				<div class="project__image_filter"></div>
				<div class="aspect-ratio-box__inner project__image" style="background-image: url('/src/assets/img/responsive/projects/{{ project.data.title | lower }}_thumbnail.webp')">
				</div>
			</div>
			<div class="project__body">
				<div class="project__headline">{{ project.data.title }}</div>
				<div class="project__bar">
					<div class="project__tags">
						{% for category in project.data.categories %}
							<span>{{category}}</span>
							<span class="divider"></span>
						{% endfor %}
					</div>
					<div class="project__date">
						{{ project.data.date | year }}
					</div>
				</div>
			</div>
		</a>
	</div>
{% endmacro %}
