{% from "macros/Button.njk" import Button %}

{% macro SiteHeader(options = {}) %}
<div class="site-header {% if options.transparent %}site-header--transparent{% endif %} container--lg {% if options.hidden %}hidden{% endif %}">
		<a title="Home" class="logo" href="/">
			{% include "svg/logo.njk" %}
			<h4 class="logo__text desktop-only">Barry Hood</h4>
		</a>

		{% if not options.footer %}
			<nav class="desktop-nav desktop-only">
				<a href="/" class="link--active-underline active">Home</a>
				<a href="/about" class="link--active-underline">About</a>
				<a href="/services" class="link--active-underline">Services</a>
				<a href="/projects" class="link--active-underline">Projects</a>
				<a href="/blog" class="link--active-underline">Blog</a>
			</nav>
		{% endif %}

		<div class="desktop-only">
			<a href="/contact">
				{{ Button("Contact", {
					class: "button--outline button--highlight" if options.transparent else "button--solid button--shadow",
					noIcon: true
				}) }}
			</a>
		</div>

		{% if not options.footer %}
			<div class="mobile-only hamburger-icon mobile-nav-button js--mobile-nav-button">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		{% endif %}
	</div>

		<nav class="hidden mobile-nav js--mobile-nav">
			<a class="logo" href="/">
				{% include "svg/logo.njk" %}
			</a>
			<a href="/" class="link--active-underline active">Home</a>
			<a href="/about" class="link--active-underline">About</a>
			<a href="/services" class="link--active-underline">Services</a>
			<a href="/projects" class="link--active-underline">Projects</a>
			<a href="/blog" class="link--active-underline">Blog</a>
		</nav>
{% endmacro %}
