---
layout: layouts/master.njk
title: Blog
description: Thoughts & tutorials on the modern world of website developmemt. This blog is the medium I use to share my learnings with the internet.
---

{% from "macros/SiteHeader.njk" import SiteHeader %}

<link rel="stylesheet" href="/src/assets/css/blog.css" />
<link rel="stylesheet" href="/src/assets/css/articles-list.css" />

{{ SiteHeader() }}

<main>
	{% set firstPost = collections.post | reverse | first %}

	<section
	 class="hero header-white"
		{% if firstPost.data.heroImage %}
			style="background-image: url('/src/assets/img/responsive/blog/{{ firstPost.data.heroImage }}.webp'); {{ heroStyles }}"
		{% endif %}
	>
		<div class="hero-background"></div>
		<div class="hero-container container--lg">
			<a class="hero-body block--sm" href="{{ firstPost.url }}">
				<div class="hero-meta list--flat">
					<div class="hero__tags list__item">
						{% for category in firstPost.data.categories %}
							<span>{{category}}</span>,
						{% endfor %}
					</div>
					<div class="divider list__item"></div>
					<div class="list__item">{{ firstPost.data.date | articleDate }}</div>
				</div>
				<h1 class="hero-headline">{{ firstPost.data.title }}</h1>
				<p class="hero-subheadline">{{ firstPost.data.description }}</p>
				<button class="hero-link">Read Article <span class="icon--right">➤</span></button>
			</a>
		</div>
	</section>

	<section>
		<div class="container--lg block--md">
			<div class="blog__container">
				{% include "articles-list.njk" %}
			</div>
		</div>
	</section>
</main>
