---
layout: layouts/master.njk
title: Projects
description: Collection of past projects by Barry Hood.
comment: Override folder tags from making this a project file
tags:
---

{% from "macros/SiteHeader.njk" import SiteHeader %}
{% from "macros/ProjectsList.njk" import ProjectsList %}

<link rel="stylesheet" href="/src/assets/css/projects.css" />
<link rel="stylesheet" href="/src/assets/css/projects-list.css" />

{{ SiteHeader() }}

<main>
	<!-- HERO -->
	<section class="hero header-white">
		<div class="hero-background"></div>

		<div class="hero-container container--xlg">
			<div class="hero-body block--md">
				<h1 class="hero-headline">
					Projects
				</h1>
				<hr class="hr--short" />
				<p class="hero-subheadline">
					Explore my previous projects
				</p>
			</div>
		</div>
	</section>

	<section class="desktop-only filters container--xlg js--filter-buttons section-rule">
		<button data-filter="*" class="js--filter-button active">All</button
		><button data-filter=".development" class="js--filter-button">Development</button
		><button data-filter=".design" class="js--filter-button">Design</button>
	</section>

	<section class="mobile-only section-rule">
		<label for="categoryFilter" class="filter-select">
			<select class="js--filter-select" name="categoryFilter">
				<option value="*">All</option>
				<option value=".development">Development</option>
				<option value=".design">Design</option>
			</select>
		</label>
	</section>
	<section class="block__container">
		<div class="block--md container--xlg">
			{{ ProjectsList(collections.publishedProjects, { gridless: true }) }}
		</div>
	</section>
</main>

{% block script %}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
	const isotope = new Isotope('.projects-list', {
		layoutMode: 'fitRows',
	});
	const filterButtons = document.getElementsByClassName('js--filter-button');

	function handleFilterClick(event) {
		event.preventDefault();
		event.stopPropagation();
		window.focus();
		// Set active class
		for (button of filterButtons) {
			button.classList.remove('active');
		}

		event.target.classList.add('active');

		// Filter items
		const filter = event.target.getAttribute('data-filter');

		isotope.arrange({ filter });

	}


	for (button of filterButtons) {
		button.addEventListener('click', handleFilterClick);
	}

	const filterSelect = document.getElementsByClassName('js--filter-select')[0];
	function handleFilterChange(event) {
		isotope.arrange({
			filter: event.target.value,
		});
	}
	filterSelect.addEventListener('change', handleFilterChange);
</script>
{% endblock %}
