---
layout: layouts/master.njk
title: About
description: Professional fullstack website developer. Creating fluid web experiences from start to finish. Front-end & Back-end javascript tech stack (Vue, React, Node).
---

{% from "macros/SiteHeader.njk" import SiteHeader %}
{% from "macros/Contact.njk" import Contact %}
{% from "macros/Banner.njk" import Banner %}
{% from "macros/CssDefer.njk" import CssDefer %}

<link rel="stylesheet" href="/src/assets/css/about.css" />
{{ CssDefer("/src/assets/css/contact.css") }}
{{ CssDefer("/src/assets/css/banner.css") }}

{{ SiteHeader() }}

<main>
	<!-- INTERNATIONAL -->
	<section class="block__container section-rule">
		<div class="container block">
			<h1 class="status__headline">Remote Freelance Web Design & Development</h1>
			<p class="status__subheadline">I craft custom websites and web applications for clients around the globe. Specialized in single-page applications.</p>
			<hr class="hr--light block--xsm" />
			<div class="availability">
				<span class="tick-circle">&#10004;</span>
				<p>
					I am <span class="text-positive">available</span> for new freelance work. <a href="/contact" class="link text-underline"><strong>Get in contact</strong></a> if you are interested and I will respond ASAP.
				</p>
			</div>
			<!--
			<div class="block--xsm section-view-work">
				<a class="link text-light text-underline text-underline--lg" href="/projects">View my work</a>
			</div>
			-->
		</div>
	</section>

	<!-- STATS -->
	{% set stats = [
			{
				value: '23+',
				text: 'Websites\nDeveloped'
			},
			{
				value: '04+',
				text: 'Years\nExperience'
			},
			{
				value: collections.post.length.toString().padStart(2, '0'),
				text: 'Articles\nPublished'
			}
		]
	%}
	<section class="block__container stats-section section-rule header-white">
			<div class="hero">
				<div class="hero-background"></div>
				<div class="hero-container">
					<div class="container--full banner__wrapper">
					{{ Banner(stats) }}
				</div>
			</div>
		</div>
	</section>

	<!-- SKILLS & TOOLS -->
	{% set skills = [
			{
				title: 'Front-end',
				tools: 'Javascript, React.js, Vue.js, Nuxt, CSS',
				icons: ['javascript.svg', 'react.svg', 'vue.svg'],
				description: 'I spend most of my time on the front-end. Generally working with React or Vue to build single page applications. Commonly along with Gatsby or Nuxt to produce efficent static generated sites.',
				category: 'Code'
			},
			{
				title: 'Back-end',
				tools: 'Node.js, Express.js, PostgreSQL, PHP (Wordpress)',
				icons: ['node.jpg', 'postgresql.svg', 'express.jpg'],
				description: "The basis of my programming knowledge. I began on the back-end developing Node.js applications during it's early days, I've since implemented and designed the architecture of many REST APIs in Node, along with custom Wordpress development when called for.",
				category: 'Code'
			},
			{
				title: 'UI & UX Design',
				tools: 'Adobe XD',
				icons: ['adobe_xd.svg'],
				description: 'Early on it was obvious design is no less important when creating a helpful service. High quality design is not only aesthetic but key in providing a pleasant experience using visual communication. I\'ve since taken to learning design fundamentals to make my sites simple to use.',
				category: 'Design'
			}
		]
	%}
	<section class="block__container section-rule">
		<div class="container--lg block">
			<div class="block--sm">
				<h2 class="skills__headline">Skills & Tools</h2>
				<hr class="hr--short" />
			</div>
			<div class="skills">
				{% for skill in skills %}
					<div class="skill">
						<div class="skill__header">
							<h4 class="skill__headline">{{ skill.title }}</h4>
							<p><strong>Tools:</strong> {{ skill.tools }}</p>
							<div class="icons">
								{% for icon in skill.icons %}
									<img src="/src/assets/img/tools/{{ icon }}" />
								{% endfor %}
							</div>
						</div>
						<div class="skill__description">
							<p>{{ skill.description }}</p>
							<div class="skill__category">
								<hr class="hr--short" /> {{ skill.category }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="block__container find-more__wrapper section-rule">
		<div class="block--sm container find-more">
			<div>
				<h2 class="find-more__headline">Find out more</h2>
				<p class="find-more__subheadline">
					Have a project you want to get rolling?
					<br />
					<span>Fill out the form below and I'll get back to you ASAP.</span>
				</p>
			</div>
			{% include "svg/mail.njk" %}
		</div>
	</section>

	<section class="block__container">
		<div class="container--lg block">
			{{ Contact() }}
		</div>
	</section>
</main>

{% block script %}
<script src="/src/assets/js/vh-fix.js"></script>
<script src="/src/assets/js/smooth-scroll.js"></script>
{% endblock %}
