---
layout: layouts/master.njk
title: Contact
description: Professional fullstack website developer. Creating fluid web experiences from start to finish. Front-end & Back-end javascript tech stack (Vue, React, Node).
---

{% from "macros/SiteHeader.njk" import SiteHeader %}
{% from "macros/Contact.njk" import Contact %}

<link rel="stylesheet" href="/src/assets/css/contact.css" />

{{ SiteHeader() }}

<main>
	<section class="block__container">
		<div class="container--lg block">
			{{ Contact({ noRule: true }) }}
		</div>
	</section>
</main>

{% block script %}
<script src="/src/assets/js/vh-fix.js"></script>
<script src="/src/assets/js/smooth-scroll.js"></script>
{% endblock %}
