---
layout: layouts/master.njk
title: Home
description: Professional fullstack website developer. Creating fluid web experiences from start to finish. Front-end & Back-end javascript tech stack (Vue, React, Node).
---

{% from "macros/Button.njk" import Button %}
{% from "macros/ProjectsList.njk" import ProjectsList %}
{% from "macros/About.njk" import About %}
{% from "macros/Contact.njk" import Contact %}
{% from "macros/SiteHeader.njk" import SiteHeader %}
{% from "macros/DesktopOnlyImage.njk" import DesktopOnlyImage %}
{% from "macros/CssDefer.njk" import CssDefer %}

<link rel="stylesheet" href="/src/assets/css/index.css" />
{{ CssDefer("/src/assets/css/about-component.css") }}
{{ CssDefer("/src/assets/css/projects-list.css") }}
{{ CssDefer("/src/assets/css/articles-list.css") }}
{{ CssDefer("/src/assets/css/contact.css") }}


{{ SiteHeader({ hidden: true }) }}

<main>
	<section class="hero__wrapper header-white">
		<div>
			{{ SiteHeader({ logoWhite: true, transparent: true }) }}
		</div>

		<div class="hero">
			<div class="hero-background"></div>

			<div class="hero-container container--lg">
				<div class="hero-body">
					<h1 class="hero-headline">
						Freelance<br class="mobile-only" /> Web<br class="desktop-only" /> Developer & Designer
					</h1>

					<h3 class="hero-subheadline">I develop web-applications to help people <span class="text-underline">get more done!</span></h3>

					<a class="hero-button" href="/projects">
						{{ Button("View Projects", {
							class: "button--solid-inverted button--lg",
							noIcon: true
						}) }}
					</a>
					<div class="hero-headline-title">// <span>Barry Hood</span></div>
				</div>
				<div class="hero-image desktop-only">
					{{ DesktopOnlyImage("/src/assets/img/pngwing-web-dev.webp", "Web Design Graphic") }}
				</div>
			</div>
		</div>
	</section>

	<section class="block__container about-section section-rule">
		<div class="container--lg block--md">
			{{ About() }}
		</div>
	</section>

	<section class="block__container section-rule">
		<div class="container--xlg block--lg">
			<header class="projects__header">
				<div class="articles__headline_container">
					<h2 class="articles__headline">My Past Projects</h2>
					<hr class="hr--short" />
				</div>
				<a class="desktop-only link" href="/projects">Explore All &rarr;</a>
			</header>

			<div class="block--sm">
				{{ ProjectsList(collections.featuredProjects, { limit: 6 }) }}
			</div>

			<div class="block text-center">
				<a href="/projects">
					{{ Button('All Projects', { class: 'button--wide animate-hover' }) }}
				</a>
			</div>
		</div>
	</section>

	<section class="block__container section-rule">
		<div class="container--lg block">
			<header class="articles__header block--sm">
				<div class="articles__headline_container">
					<h2 class="articles__headline">Recent articles</h2>
					<hr class="hr--short" />
				</div>
			</header>

			<div class="block--sm">
				{% include "articles-list.njk" %}
			</div>

			<div class="block--sm text-center">
				<a href="/blog">
					{{ Button('All Articles', { class: 'button--wide animate-hover' }) }}
				</a>
			</div>
		</div>
	</section>

	<section class="block__container">
		<div class="container--lg block">
			{{ Contact() }}
		</div>
	</section>
</main>

{% block script %}
<script src="/src/assets/js/vh-fix.js"></script>
<script src="/src/assets/js/scroll-nav.js"></script>
{% endblock %}
