---
layout: layouts/master.njk
title: Services
description: Professional fullstack website developer. Creating fluid web experiences from start to finish. Front-end & Back-end javascript tech stack (Vue, React, Node).
---

{% from "macros/SiteHeader.njk" import SiteHeader %}
{% from "macros/Contact.njk" import Contact %}
{% from "macros/Banner.njk" import Banner %}
{% from "macros/CssDefer.njk" import CssDefer %}

<link rel="stylesheet" href="/src/assets/css/services.css" />
{{ CssDefer("/src/assets/css/contact.css") }}
{{ CssDefer("/src/assets/css/banner.css") }}

{{ SiteHeader() }}

<main>
	<!-- HERO -->
	<section class="hero header-white">
		<div class="hero-background"></div>

		<div class="hero-container container">
			<div class="hero-body block--lg">
				<h1 class="hero-headline">
					Creating fluid web experiences
				</h1>
				<p class="hero-subheadline">
					From prototype to production
				</p>
			</div>
		</div>
	</section>

	<!-- SERVICES BANNER -->
	{% set bannerServices = [
			{
				href: 'SPA',
				value: '01',
				text: 'Single Page\nApplications'
			},
			{
				href: 'content',
				value: '02',
				text: 'Content\nManagement'
			},
			{
				href: 'commerce',
				value: '03',
				text: 'E-Commerce\nStores'
			},
			{
				href: 'custom',
				value: '04',
				text: 'Custom\nSystems'
			}
		]
	%}
	<section class="block__container services-banner-section header-white">
		<div class="container--full">
			{{ Banner(bannerServices) }}
		</div>
	</section>

	<!-- SERVICES -->
	{% set services = [
			{
				id: 'SPA',
				title: 'Single Page Applications',
				description: 'The web is evolving and so is the way we build websites. As the line blurs between desktop applications and websites single page applications help to manage the growing complexity.',
				image: 'svg/undraw_progressive_app.svg'
			},
			{
				id: 'content',
				title: 'Content\nManagement',
				description: 'Many sites needs a simple and non-technical way to manage content. I\'ve worked with many different CMSs to make updating content accessible and easy including WordPress, Contentful, Dato & Keystone.js.',
				image: 'svg/undraw_content_structure.svg'
			},
			{
				id: 'commerce',
				title: 'E-commerce',
				description: 'Finances can be complicated, luckily there are many tools to help such as Shopify, WooCommerce and Magento. I\'ve built a number of custom front-ends to provide a unique shopify experience.',
				image: 'svg/undraw_add_to_cart.svg'
			},
			{
				id: 'custom',
				title: 'Custom Systems',
				description: 'When building unique services existing tools don\'t always met your needs. Taking influcence from the best practices of other tools I\'ve built custom systems to move past barriers and earn insightful knowledge.',
				description: 'When faced with barriers not covered by existing tools I\'ve built custom systems to continue progress. Taking influcence from the best practices of other tools to maintain a consistent experience and earning valueable insight.',
				image: 'svg/undraw_new_ideas.svg'
			}
		]
	%}
	<section class="services">
		{% for service in services %}
			<div id="{{ service.id }}" class="service__wrapper block__container container--lg section-rule">
				<div class="service block--md">
					<div class="service__body">
						<div class="service__ghost-headline">Service</div>
						<h3 class="service__headline">{{ service.title }}</h3>
						<p>{{ service.description }}</p>

						{% if service.projects %}
							<h4 class="projects__headline">Projects</h4>
							<ul class="list--flat">
								{% for project in service.projects %}
									<li class="service__project link">{{ project }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
					<div class="service__image">
						<img src="/src/assets/img/{{ service.image }}" alt="service.title" />
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

	<!-- THE PROCESS -->
	{% set processSteps = [
			{
				title: 'Discover',
				description: "The first step is making sure you're creating the correct product. Understanding the underlying motives of a project sets us on track to achieving the desired results."
			},
			{
				title: 'Design',
				description: "Visual prototyping, ensuring a website communicates it's purpose in a clear and concise manner. At a glance users should know what you're website is about and what service you provide."
			},
			{
				title: 'Develop',
				description: "From concept to product. Code is the building blocks of the web, a well engineered code base keeps you adaptable and lowers time wasted on maintenance."
			},
			{
				title: 'Deploy',
				description: "The final step, releasing your website to the internet. Don't want the hassle? I can handle setting up reliable hosting before hand off."
			}
		]
	%}
	<!--
	<section class="section-rule">
		<div class="block--lg container">
			<div class="process__header block">
				<h2 class="process__headline">The Process</h2>
				<p class="process__subheadline">Handling prototyping to production and the many edges in-between. Curiosity lead me to a diverse skill-set, tackling each challenge along the path.</p>
			</div>

			<div class="process__steps">
				{% for step in processSteps %}
					<div class="block--md">
						<h3 class="step__headline"><span class="mobile-only">{{ loop.index }}. </span>{{ step.title }}</h3>
						<div class="steps__list">
							{% for s in processSteps %}
								<div class="step-title {% if s.title === step.title %}active{% endif %}">0{{ loop.index }}. {{ s.title }}</div>
								<div class="step-divider"></div>
							{% endfor %}
						</div>
						<p class="step__description">{{ step.description }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	-->

	<section class="block__container">
		<div class="container--lg block">
			{{ Contact() }}
		</div>
	</section>
</main>

{% block script %}
<script src="/src/assets/js/vh-fix.js"></script>
<script src="/src/assets/js/smooth-scroll.js"></script>
{% endblock %}
