---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
	{% if page.data.sitemapIgnore !== true %}
		<url>
			<loc>{{ metadata.url }}{{ page.url | url }}</loc>
		</url>
	{% endif %}
{% endfor %}
</urlset>
